  /* for floating screen make both uncommented and rest commented*/

  .myvideoDiv {
    position: relative;
    width: 800px;
    height: 600px;
    background-image: url('img/hr.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }

  .myvideoDiv::before,
  .myvideoDiv::after {
    content: "Alex geeft algemene informatie en kan fouten maken. Raadpleeg bij sensitieve onderwerpen of twijfel een professional.";
    position: absolute;
    width: 200px; 
    writing-mode: horizontal-tb;
    text-align: center;
    opacity: 0.2;
    font-size: 12px;
    color: #000;
    pointer-events: none;
  }
  
  .myvideoDiv::before {
    left: -300px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .myvideoDiv::after {
    right: -300px;
    top: 50%;
    transform: translateY(-50%);
  }

#myvideo {
    width: 100%;
    height: 100%;
}



 /* for full screen make both uncommented and rest commented */
 
 /*
  .myvideoDiv {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}
  #myvideo{
    width:100%; 
    height:100%;
  }
*/
